@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

html {
  padding: 0;
  margin: 0;
}
.headerBg{
  background-image: url('../public/crypto1.jpg');
  background-size: cover;
  background-position: center;
}
.myTitle{
  text-shadow: 2px 2px 2px rgb(6, 92, 35);
}
.myButton{
  text-shadow: 1px 1px 1px rgb(6, 92, 35);
}
.myButton:hover{
  color: white;
}

.myAboutText{
  text-shadow: .5px .5px .5px rgb(100, 100, 100);
}

.cryptoLi{
  min-width: 320px;
  max-width: 320px;
}

.myLink{
  color: #0945ec;
}
.myLink:hover{
  color: white;
}

.generalBack {
   background: linear-gradient(62deg, #f4f806, #E73C7E, #23A6D5, #23D5AB);
     animation: gradient 15s ease infinite; 
      background-size: 400% 400%;
  
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}